@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(0, 0%, 0%);
  background-color: hsl(47, 88%, 63%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 320px;
  min-height: 100vh;
}


.card {
  position: relative;
  padding: 24px;
  margin: 6%;
  width: 379px;
  border: solid 1px black;
  border-radius: 20px;
  background-color: rgb(253, 253, 253);
  align-self: center;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 20px;
    z-index: -1;
    transform: translate3d(10px, 10px, 0);
  }

  @media screen and (max-width: 480px) {
    width: 325px;
  }
}

.card_figure {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 336/200;
  margin-bottom: 24px;
}

.card__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__tag {
  font-size: 14px;
  background-color: hsl(47, 88%, 63%);
  padding: 7px 12px;
  border-radius: 4px;
  font-weight: 800;


  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.card__date {
  font-size: 14px;
  margin-top: 12px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

h1 {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 800;
  margin-top: 12px;

  @media screen and (max-width: 480px) {
    font-size: 20px;
  }
}

.card__paragraph {
  font-size: 16px;
  color:#7F7F7F;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 16px;

  @media screen and (max-width: 480px) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.card__author {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  align-items: center;
  column-gap: 10px;

  @media screen and (max-width: 480px) {
    margin-top: 17px;
  }
}

.card__author__figure {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
  width: 32px;

  @media screen and (max-width: 480px) {
    width: 30px;
  }
}

.card__author__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__author__name {
  font-size: 14px;
  font-weight: 800;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}
